@(message: String)

@main("Home") {
    <center>
        <h1 style = "color: white">@message</h1>
        <h2 style = "color: white">COVID-19</h2>

        <div class = "container-fluid">
            <div class = "row">
                <div class = "col">
                    <a href="http://localhost:9000/create">
                        <link ref>
                        <img src="/assets/images/tunnelview.jpg" width="450" height="250">
                    </a>
                </div>
                <div class = "col">
                    <a href="http://localhost:9000/login">
                        <link ref>
                        <img src="assets/images/yosemite.jpg" width="450" height="250">
                    </a>
                </div>
                <div class = "col">
                    <a href="http://localhost:9000/login">
                        <link ref>
                        <img src="assets/images/yellowstonegrand.jpg" width="450" height="250">
                    </a>
                </div>
            </div>
            <div class = "row mt-5" style = "margin-top: 100px">
            </div>
            <div class = "col">

            </div>

        </div>
    </center>
}
