@(message: String)

    @main("Home") {
        <center>
            <h1 style = "color: red">@message</h1>
            <h2>Hello</h2>

            <div class = "container-fluid">
                <div class = "row">
                    <div class = "col">
                        <a href="localhost:9000/findAll">
                            <link ref>
                            <img src="https://i.stack.imgur.com/5AfbS.png" width="450" height="250">
                        </a>

                    </div>
                </div>
            </div>
        </center>
    }
